*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--selection-background-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: inherit;
  outline: none;
  text-decoration: inherit;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
}
