/* media */
@mixin media-l {
  @media (min-width: $media-l-min-width) and (min-height: $media-l-min-height) {
    @content;
  }
}

@mixin media-m {
  @media (min-width: $media-m-min-width) and (min-height: $media-m-min-height) {
    @content;
  }
}

@mixin media-s {
  @media (min-width: $media-s-min-width) and (min-height: $media-s-min-height) {
    @content;
  }
}

@mixin media-xs {
  @media (min-width: $media-xs-min-width) and (min-height: $media-xs-min-height) {
    @content;
  }
}

@mixin highlighted-content-block {
  background-color: #101010;
  border-radius: 3px;
  box-shadow: inset 0 0 24px rgba(#000, 0.5), 0 0 10px #850000;
}

@mixin control-block {
  background-color: #3b013c;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #75007c, 0 0 10px #000;

  //  &:hover {
  //    box-shadow: inset 0 0 10px #100000, 0 0 10px #000;
  //  }
}
