/* media */
@mixin media-l {
  @media (min-width: $media-l-min-width) and (min-height: $media-l-min-height) {
    @content;
  }
}

@mixin media-m {
  @media (min-width: $media-m-min-width) and (min-height: $media-m-min-height) {
    @content;
  }
}

@mixin media-s {
  @media (min-width: $media-s-min-width) and (min-height: $media-s-min-height) {
    @content;
  }
}

@mixin media-xs {
  @media (min-width: $media-xs-min-width) and (min-height: $media-xs-min-height) {
    @content;
  }
}

@mixin content-block {
  background-color: #101010;
  border-radius: 3px;
  box-shadow: 0 0 10px #850000;
}

@mixin clickable-control {
  background-color: #3f0040;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
