@mixin theme-hue {
  --hue: 340;
  --primary-text-color: #919191;
  --app-background-color: #{hsl-with-var(0, 100%, 6%)};
  --app-mask-background-color: #{hsl-with-var(0, 60%, 6%)};
  --highlighted-block-background-color: #{hsl-with-var(0, 0%, 6%)};
  --highlighted-block-mask-color: #{hsl-with-var(0, 5%, 5%)};
  --highlighted-block-shadow-inset: inset 0 0 24px #{hsl-with-var(0, 0%, 0%)};
  --highlighted-block-shadow: 0 0 10px #{hsl-with-var(0, 100%, 32%)};
  --control-block-background-color: #{hsl-with-var(0, 80%, 6%)};
  --control-block-background-color-hover: #{hsl-with-var(0, 59%, 8%)};
  --control-block-background-color-active: #{hsl-with-var(0, 63%, 5%)};
  --control-block-shadow-inset: inset 0 0 10px #{hsl-with-var(0, 100%, 29%)};
  --control-block-shadow-inset-hover: inset 0 0 12px #{hsl-with-var(0, 100%, 40%)};
  --control-block-shadow-inset-active: inset 0 0 12px #{hsl-with-var(0, 100%, 20%)};
  --control-block-shadow: 0 0 10px #{hsl-with-var(0, 0%, 0%)};
  --control-block-shadow-hover: var(--control-block-shadow);
  --control-block-shadow-active: var(--control-block-shadow);
  --link-color: #{hsl-with-var(0, 85%, 31%)};
  --link-color-visited: #{hsl-with-var(0, 100%, 20%)};
  --navigation-active-text-color: #{hsl-with-var(0, 80%, 35%)};
  --page-title-color: #{hsl-with-var(0, 100%, 31%)};
  --page-title-text-shadow: 2px 8px 16px #{hsl-with-var(0, 0%, 0%)};
  --article-title-color: #{hsl-with-var(0, 100%, 31%)};
  --hljs-mask-color: var(--highlighted-block-mask-color);
  --hljs-container-box-shadow: var(--highlighted-block-shadow);
  --hljs-outer-background-color: var(--highlighted-block-background-color);
  --hljs-outer-box-shadow: var(--highlighted-block-shadow-inset);
  --htjs-heading-background-color: #{hsl-with-var(0, 100%, 18%)};
  --htjs-heading-box-shadow: inset 0 0 24px #{hsl-with-var(0, 0%, 0%)}, inset 0 1px 8px #{hsl-with-var(0, 0%, 0%)};
  --benchmark-suite-title-color: var(--article-title-color);
  --benchmark-suite-results-table-border-color: #{hsl-with-var(0, 80%, 25%)};
}
