/* font */
$font-family-primary: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

/* z-index */
$app-header-z-index: 100;
$app-footer-z-index: $app-header-z-index + 1;
$app-scrollbar-track-vertical-z-index: $app-footer-z-index + 1;
$overlay-z-index: $app-scrollbar-track-vertical-z-index + 1;

/* transition */
$transition-duration: 0.15s;
$transition-timing-function: ease-out;
$transition: $transition-duration $transition-timing-function;
