/* font */
$font-family-primary: 'Roboto Condensed', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

/* z-index */
$app-header-z-index: 1;
$app-footer-z-index: $app-header-z-index + 1;
$app-scrollbar-track-vertical-z-index: $app-footer-z-index + 1;
