{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Benchmark": "readonly"
  },
  "rules": {
    "no-plusplus": "off",
    "max-len": "off",
    "global-require": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "no-return-assign": "off",
    "func-names": "off",
    "react/require-default-props": [2, { "ignoreFunctionalComponents": true }],
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off"
  },
  "ignorePatterns": [
    "/vendor/**/*",
    "/src/raw-code-samples/**/*"
  ],
  "parser": "@babel/eslint-parser"
}
