.app {
  height: 100%;

  &_header {
    bottom: 100%;
  }

  &_header,
  &_footer {
    position: fixed;
    left: 0;
    right: 0;
  }

  &_footer {
    top: 100%;
  }

  &_main {
    background: yellow;
  }
}
