.app {
  background: yellow;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &_header,
  &_footer {
    flex-shrink: 0;
  }

  &_main {
    align-items: stretch;
    display: flex;
    flex: 1;
  }

  &_main-inner {
    width: 100%;
  }
}
