.benchmark-suite-results {
  text-align: left;

  table {
    width: 100%;
  }

  th,
  td {
    border: 2px solid #7b0000;
    padding: 0.25em 0.5em;

    &:not(:first-child) {
      width: 10em;
    }
  }

  td span {
    display: block;
  }
}
