.benchmark-suite-results {
  text-align: left;

  table {
    width: 100%;
  }

  th,
  td {
    border: 2px solid var(--benchmark-suite-results-table-border-color);
    padding: 0.25em 0.5em;
  }

  th {
    text-align: center;
  }

  td {
    text-align: left;

    &:not(:first-child) {
      text-align: right;
      width: 10em;
    }

    span {
      display: block;
    }
  }
}
