.footer-link {
  @include link-underline;

  align-items: center;
  display: inline-flex;
  transition: text-decoration-color $transition-fast;
  vertical-align: middle;

  &_icon-wrapper {
    height: 1.75em;
    width: 1.75em;
  }

  &_icon {
    color: var(--footer-link-color);
    transition: color $transition-fast;

    .footer-link:focus & {
      color: var(--footer-link-color-hover);
    }

    @supports #{'\selector(*:focus-visible)'} {
      .footer-link:focus & {
        color: var(--footer-link-color);
      }

      .footer-link:focus-visible & {
        color: var(--footer-link-color-hover);
      }
    }

    .footer-link:hover & {
      color: var(--footer-link-color-hover);
    }

    .footer-link:active & {
      color: var(--footer-link-color-hover);
    }
  }

  &_text {
    margin-left: 0.5em;
  }
}
