.footer {
  &_footer {
    @include highlighted-block(var(--code-paterrn-url), center bottom);

    &::part(root) {
      --wc-background-color: transparent;
      --wc-text-color: var(--primary-text-color);
      --wc-nickname-text-color: var(--article-title-color);
      --wc-selection-background-color: var(--selection-background-color );
      --wc-selection-text-color: var(--selection-text-color);
    }
  }
}
