.header {
  @include highlighted-block(var(--code-paterrn-url), center top);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 6.375em;
  padding-right: 1.5em;

  &_logo-link {
    height: 5em;
    left: 0.75em;
    position: absolute;
    top: 0.25em;
    width: 5em;
  }

  &_logo {
    height: 100%;
    width: 100%;

    &::part(root) {
      --wc-fill-color: var(--header-logo-color);
      --wc-background-color: var(--highlighted-block-background-color);

      box-shadow: var(--highlighted-block-shadow);
    }
  }

  &_title {
    color: var(--header-title-color);
    font-size: 2em;
    font-weight: 700;
    line-height: 1.9375;
    margin-right: 0.75em;
    text-shadow: var(--header-title--text-shadow);
    white-space: nowrap;
  }

  &_navigation {
    padding: 0.75em 0;
  }

  &_scrollbar-thumb-horizontal {
    @include control-block('::after');

    position: relative;

    &::after {
      bottom: 0;
      content: '';
      height: 6px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &_scrollbar-track-horizontal {
    bottom: 0;
    height: 0.75em !important;
    left: 0;
    right: 0;
  }

  &_hue-control-mix,
  &_subscribe-control-mix {
    margin-left: 1em;
    padding: 0.4375em 0;
  }
}
