.hue-control {
  position: relative;

  &_sample {
    @include control-block;

    background-color: hsl-with-var(0, 80%, 9%) !important;
    border-radius: 50% !important;
    cursor: pointer;
    height: 2.75em;
    width: 2.75em;
  }

  &_slider-mix {
    left: 50%;
    position: absolute;
    top: calc(100% + 1.5em);
    transform: translateX(-50%);
  }
}
