.hue-control {
  position: relative;

  &_sample {
    @include control-block;

    background-color: var(--header-control-background-color) !important;
    border-radius: 50% !important;
    cursor: pointer;
    height: 3em;
    position: relative;
    width: 3em;
  }

  &_sample-icon {
    @include absolute-transform-centering;

    height: 1.25em;
    transition: color $transition;
    width: 1.25em;

    .hue-control__control-visible & {
      color: var(--article-title-color);
    }
  }

  &_slider-mix {
    left: 50%;
    position: absolute;
    top: calc(100% + 1.5em);
    transform: translateX(-50%);
  }
}
