.navigation-sidebar {
  min-height: 100%;
  padding: 0.75em 1em;

  &_item-link,
  &_item-sub-link {
    display: block;
    margin-bottom: 0.6em;
    padding: 0.5em;

    &__active {
      color: #b30000;
    }
  }

  &_item-link {
    @include control-block;
  }
}
