.navigation-sidebar {
  $padding: 0.5em;

  min-height: 100%;
  padding: 0.75em 1em;
  user-select: none;

  &_item-link,
  &_item-sub-link {
    display: block;
    margin-bottom: 0.625em;
    padding: $padding;

    &__active {
      color: var(--navigation-active-text-color);
    }
  }

  &_item-link {
    @include control-block;

    transition:
      color $transition-fast,
      background-color $transition-fast,
      box-shadow $transition-fast !important;
  }

  &_item-sub-link {
    @include link-underline;

    position: relative;
    text-indent: 1em;
    transition: color $transition-fast;

    &::before {
      content: '#';
      left: $padding;
      opacity: 0.5;
      position: absolute;
      text-indent: 0;
      top: $padding;
    }
  }
}
