.navigation-sidebar {
  min-height: 100%;
  padding: 0.75em 1em;

  &_item {
    &:not(:last-child) {
      margin-bottom: 0.6em;
    }
  }

  &_item-link {
    @include control-block;

    display: block;
    padding: 0.5em;

    &__active {
      color: #b30000;
    }
  }
}
