.navigation {
  &_list {
    display: flex;
  }

  &_item {
    &:not(:first-child) {
      margin-left: 1em;
    }
  }

  &_item-link {
    @include control-block;

    display: block;
    padding: 0.5em;
    transition:
      color $transition-fast,
      background-color $transition-fast,
      box-shadow $transition-fast !important;
    white-space: nowrap;

    &__active {
      color: var(--navigation-active-text-color);
    }
  }
}
