.page-with-sidebar {
  min-height: 100%;
  padding: 0 2em;

  &_inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 75em;
  }

  &_sidebar-wrapper {
    width: 18em;
  }

  &_sidebar {
    @include highlighted-block('~img/code-pattern.png', center top);

    bottom: calc(var(--footer-height) + 2em);
    position: fixed;
    top: calc(var(--header-height) + 2em);
    width: inherit;
  }

  &_scrollbar-thumb-vertical {
    @include control-block('::after');

    position: relative;

    &::after {
      bottom: 5px;
      content: '';
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 5px;
      width: 10px;
    }
  }

  &_scrollbar-track-vertical {
    bottom: 0;
    right: 0;
    top: 0;
    width: 1em !important;
  }

  &_content {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    width: calc(100% - 20em);
  }

  &_title {
    color: var(--page-title-color);
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 0.5em;
    text-shadow: var(--page-title-text-shadow);
  }

  &_description {
    margin-bottom: 2em;

    a {
      @include link;

      word-break: break-all;
    }
  }
}
