<% const inlinePatterns = (htmlWebpackPlugin.options.templateParameters.inlinePatterns || []); %>
<% const loadPatterns = (htmlWebpackPlugin.options.templateParameters.loadPatterns || []); %>
<% const workersPatterns = (htmlWebpackPlugin.options.templateParameters.workersPatterns || {}); %>

<% const publicPath = htmlWebpackPlugin.files.publicPath; %>
<% const getFileSource = (file) => compilation.assets[file.substr(publicPath.length)].source(); %>

<% const jsFiles = Array.from(htmlWebpackPlugin.files.js); %>
<% const jsFilesToLoad = jsFiles.filter((file) => loadPatterns.some((regex) => regex.test(file))); %>
<% const jsFilesToInline = jsFiles.filter((file) => inlinePatterns.some((regex) => regex.test(file))); %>

<% const workers = {};                                                              %>
<% Object.keys(workersPatterns).forEach((key) => {                                  %>
<%   const file = jsFiles.find((file) => workersPatterns[key].test(file));          %>
<%                                                                                  %>
<%   if (file) {                                                                    %>
<%     workers[key] = file;                                                         %>
<%   }                                                                              %>
<% });                                                                              %>

<% const serviceWorkers = {};                                                       %>
<% Object.keys(serviceWorkersPatterns).forEach((key) => {                           %>
<%   const file = jsFiles.find((file) => serviceWorkersPatterns[key].test(file));   %>
<%                                                                                  %>
<%   if (file) {                                                                    %>
<%     serviceWorkers[key] = file;                                                  %>
<%   }                                                                              %>
<% });                                                                              %>

<% const cssFiles = htmlWebpackPlugin.files.css; %>
<% const cssFilesToLoad = cssFiles.filter((file) => loadPatterns.some((regex) => regex.test(file))); %>
<% const cssFilesToInline = cssFiles.filter((file) => inlinePatterns.some((regex) => regex.test(file))); %>

<!DOCTYPE html>
<html lang="en" class="theme-hue">
  <head>
    <link rel="manifest" href="/manifest.json">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <% jsFilesToInline.forEach((file) => { %>
      <script><%= getFileSource(file) %></script>
    <% }); %>
    <% cssFilesToInline.forEach((file) => { %>
      <style><%= getFileSource(file) %></style>
    <% }); %>

    <% jsFilesToLoad.forEach((file) => { %>
      <link rel="preload" href="<%= file %>" as="script">
    <% }); %>
    <% cssFilesToLoad.forEach((file) => { %>
      <link rel="preload" href="<%= file %>" as="style">
    <% }); %>

    <title>Code samples</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body>
    <div id="root"></div>

    <script>
      window.workers = <%= JSON.stringify(workers) %>;
      window.serviceWorkers = <%= JSON.stringify(serviceWorkers) %>;
      document.dispatchEvent(new Event('BodyLoadedCustomEvent'));
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" />
    <% cssFilesToLoad.forEach((file) => { %>
      <link rel="stylesheet" href="<%= file %>" />
    <% }); %>
    <% jsFilesToLoad.forEach((file) => { %>
      <script defer src="<%= file %>"></script>
    <% }); %>
  </body>
</html>
