<% const filesToInline = (htmlWebpackPlugin.options.templateParameters.filesToInline || []); %>
<% const publicPath = htmlWebpackPlugin.files.publicPath; %>

<% const jsFiles = htmlWebpackPlugin.files.js; %>
<% const jsFilesToLoad = jsFiles.filter((file) => !filesToInline.some((regex) => regex.test(file))); %>
<% const jsFilesToInline = jsFiles.filter((file) => filesToInline.some((regex) => regex.test(file))); %>

<% const cssFiles = htmlWebpackPlugin.files.css; %>
<% const cssFilesToLoad = cssFiles.filter((file) => !filesToInline.some((regex) => regex.test(file))); %>
<% const cssFilesToInline = cssFiles.filter((file) => filesToInline.some((regex) => regex.test(file))); %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=block" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=block">
    <title>Code samples</title>
    <% cssFilesToInline.forEach((file) => { %>
      <style><%= compilation.assets[file.substr(publicPath.length)].source() %></style>
    <% }); %>
  </head>
  <body class="theme-hue">
    <div id="root"></div>

    <% cssFilesToLoad.forEach((file) => { %>
      <link href="<%= file %>" rel="stylesheet" />
    <% }); %>
    <% jsFilesToLoad.forEach((file) => { %>
      <script defer src="<%= file %>"></script>
    <% }); %>
    <% jsFilesToInline.forEach((file) => { %>
      <script><%= compilation.assets[file.substr(publicPath.length)].source() %></script>
    <% }); %>
  </body>
</html>
