@import 'reset-css';
@import 'common/**/*';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--selection-background-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

html,
body,
#root {
  height: 100%;
  line-height: inherit;
  overflow: hidden;
}

html {
  --main-paterrn-url: url('src/img/main-pattern.png?inline');

  @include main-background;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;

  &.theme-hue {
    @include theme-hue(true);
  }
}

a {
  color: inherit;
  outline: none;
  text-decoration: inherit;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
}

ant478-logo.spinner {
  @include full-size;

  height: 15em;
  margin: auto;
  transform: scaleX(0);
  transition: transform 0.3s;
  width: 15em;

  &__displayed {
    transform: scaleX(1);
  }

  &::part(root) {
    --wc-fill-color: var(--spinner-color);
    --wc-background-color: var(--highlighted-block-background-color);

    box-shadow: var(--highlighted-block-shadow);
  }
}
